nav{
    background-color: darkblue;
}
a{
    padding-left: 180px;
}
h1{
    color: gold;
}
#real{
    background-image: url(img/house.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
h2{
    padding-top: 150px;
    color: white;
    font-family: 'Pacifico', cursive;
}
#par{
    color:orange;
}
#black{
    color: black;
    font-family: 'Rye', cursive;
}
#pic{
    width: 250px;
}
h4{
    color: green;
}
#lol{
    width: 100px;
}
#lolo{
    width: 340px;
    height: 16vh;
}
#agent{
    width: 100px;
    border-radius: 50%;
}
#foot{
    background-color: indigo;
}
#feet{
    color: white;
}
#bb{
    color: blue;
}
#photo{
    width: 500px;
    border-radius: 15%;
}
#bod{
    background-color: cyan;
}
img{
    width: 1600px;
}
#log{
    color: darkblue;
}
